*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    transition: 1.5s;
    background-color: var(--bg-main);
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:  rgba(247,246,245,255, 0.5);
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 12px 0;
}
nav > span{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--bg-primary);
}
.fa-code{
    margin-right: 0.8rem;
}
ul{
    display: flex;
    gap:3rem;
    list-style-type: none;
    align-items: center;
}
.nav-link{
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--bg-primary);
    position: relative;
    letter-spacing: 0.05rem;
}
.nav-link:after{
    content: "";
    position: absolute;
    background-color:  var(--bg-primary);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.5s; 
}
.nav-link:hover:after{
    width: 100%;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: grid;
    width: 1.4rem;
    height: 0.188rem;
    margin: 0.313rem auto;
    background-color: var(--bg-primary);
    border-radius: 0.1rem;
}
.middle{
    margin-left: 0.5rem;
}
.nav-socials{
    display: none;
}
.toggle-label{
    width:3rem;
    height: 1.5rem;
    background-color: #673de6;
    display: inline-block;
    position: relative;
    border-radius: 10rem;
    cursor: pointer;
}
.toggle-ball{
    width:1rem;
    height:1rem;
    border-radius: 50%;
    background-color: #f7f6f5;
    display: inline-block;
    position: absolute;
    top: .3rem;
    left: .5rem;
    transition: all .2s linear;
}
#checkbox{
    display: none;
}
#checkbox:checked + .toggle-label .toggle-ball{
    transform: translateX(1rem);
    background-color: #15202b;
}
/*playing-dark-mode*/
:root{
    --bg-main:#f7f6f5;
    --bg-primary: #000;
    --bg-white: #fff;
    --bg-contact: #eeeee4;
    --bg-footer: #000;
    --bg-text-footer: #fff;
}
:root .dark-mode{
    --bg-main: #15202b;
    --bg-primary: #fff;
    --bg-white: #1e2732;
    --bg-contact:#273340;
    --bg-footer: #15202b;
    --bg-text-footer: #fff;
    transition: 1.5s;
}
/*nav-responsive*/
@media (max-width:850px){
   .hamburger{
    display: block;
   }
   .nav-socials{
    display: flex;
    justify-content: center;
    gap:2.3rem;
    margin-top: 2rem;
}
.nav-socials > a{
    font-size: 1.8rem;
    background-color: var(--bg-white);
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.7);
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 1.5s;
}
#nav-twitter{
    color: #1d9bf0;
}
#nav-github{
    color:#171515;
}
#nav-facebook{
    color: #0f92f3;
}
#nav-instagram{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
   .hamburger.active .bar:nth-child(2){
    opacity: 0;
    transition: 0.3s;
   }
   .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    transition: 0.7s;
   }
   .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.7s;
   }
   .nav-menu{
    position: fixed;
    left: 100%;
    top:0;
    gap:1rem;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.4s;
    padding-top: 5rem;
    background-color: var(--bg-white);
    transition: 0.8s;
   }
   .nav-item{
    margin: 16px 0;
   }
   .nav-menu.active{
    left:0;
   }
}
/*home-starts*/
.home{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 1rem;
    gap:10rem;
}
.home-text-container{
    max-width: 30rem;
    color: var(--bg-primary);
}
.home-text-container > h1{
    line-height: 2.5rem;
    font-size: 1.3rem;
}
#large-text{
    font-size: 3rem;
    margin-bottom: 0.8rem;
    font-weight: 800;
}
.home-text-container > p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
#nepal-flag{
    height: 1rem;
    object-fit: cover;
    margin-left: 0.2rem;
}
#digital-clock{
    font-size: 1.2rem;
    font-weight: bold;
}
#link-about, #download-cv, .submit{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
    background-color: #673de6;
    border-radius: 0.3rem;
    margin-top: 1rem;
    transition: 1s;
    cursor: pointer;
}
#link-about:hover, #download-cv:hover, .submit:hover{
    background-color: var(--bg-main);
    color: var(--bg-primary);
    border: 1px solid #673de6;
}
.home-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 7s ease-in-out infinite;
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-0.5rem);
    }
    100%{
        transform: translateY(0);
    }
}
#home-image{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border: 4px solid #673de6;
    animation: about-img 7s ease-in-out infinite;
    cursor: pointer;
}
#home-image.loading {
    background-color: #e2e4ec;
}
@keyframes about-img{
    0%{
        border-radius: 62% 38% 36% 64% / 60% 38% 62% 40%;
    }
    50%{
        border-radius: 35% 65% 66% 34% / 55% 56% 44% 45%;
    }
    100%{
        border-radius: 62% 38% 36% 64% / 60% 38% 62% 40%;
    }
}
/*home-section-mediaquery*/
@media (max-width:1000px) {
    .home{
        gap:5rem;
    }
}
@media (max-width:900px) {
    .home{
        gap:2rem;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .button-home{
        display: flex;
        justify-content: center;
    }
    .home-image-container{
        margin-top: 5rem;
    }
}
@media (max-width:330px) {
    #home-image{
        height: 18rem;
        width: 18rem;
}
.home-image-container{
    margin-top: 6rem;
}
#large-text{
    font-size: 2.5rem;
}
}
/*about-section*/
.about{
    height: 100vh;
    width:100%;
    display: grid;
    place-items: center;
    padding: 0 1rem;
    color: var(--bg-primary);
}
.about-container{
    display: flex;
    gap:15rem;
}
.about-container-text{
    max-width: 30rem;
}
.about >div > h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}
.about-container-text > p{
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.about-container-text > p > span{
    color: #673de6;
}
.about-container-text > .quote{
    font-weight: bold;
}
.about-container-skills > p{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.cube{
    margin-top: 5rem;
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: animate 5s infinite;
}  
.side {
    position: absolute;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 1.5rem;
    background-color: #673de6;
    border: 2px solid #000;
} 
.front{
    transform: translateZ(100px);
}  
.back{
    transform: translateZ(-100px) rotateY(180deg);
} 
.right{
    transform: rotateY(90deg) translateZ(100px);
}  
.left{
    transform: rotateY(-90deg) translateZ(100px);
}  
.top{
    transform: rotateX(90deg) translateZ(100px);
}  
.bottom{
    transform: rotateX(-90deg) translateZ(100px);
}  
@keyframes animate{
    0% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
        transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    100% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
}
/*media-query-for-about*/
@media (max-width:1000px) {
    .about-container{
        display: grid;
        gap:2rem;
        place-items: center;
    }
    .link-contact{
        display: flex;
        justify-content: center;
    }
    .about-container-text{
        margin-top: 5rem;
    }
    .about >div > h2{
        margin-top: 4rem;
    }
    .download-cv{
        display: flex;
        justify-content: center;
    }
    .about{
        margin-bottom: 20rem;
    }
}
@media (max-width:670px) {
    .about{
        margin-bottom: 35rem;
    }
}
@media (max-width:450px) {
    .about{
        margin-bottom: 40rem;
    }
}
@media (max-width:370px) {
    .about{
        margin-bottom: 45rem;
    }
}
@media (max-width:340px) {
    .about{
        margin-bottom: 48rem;
    }
}
/*skill-section*/
.skill{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-container > h2{
    text-align: center;
    margin: 1.5rem 0 2rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: var(--bg-primary);
}
.skills3{
    display: flex;
    gap:8rem;
}
.skills{
    height: 25rem;
    width: 19rem;
    border-radius: 1rem;
    background-color: var(--bg-white);
    border: 1px solid #673de6;
    padding: 1rem;
    transition: 0.5s;
    color: var(--bg-primary);
    transition: 1.5s;
}
.skills:hover{
    transform: translateY(-0.3rem);
    transition: 0.5s;
}
.web-logo, .graphics-logo, .blogging-logo{
    display: grid;
    place-items: center;
    padding-top: 1rem;
}
.web-logo >.fa-solid, .graphics-logo>.fa-solid, .blogging-logo > .fa-solid{
    height: 3rem;
    width: 3rem;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.7);
    color: #673de6;
    border-radius: 50%;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
} 
.web > p, .graphics > p, .blogging > p{
    font-size: 1rem;
    text-align: center;
    line-height: 1.2rem;
}
.web-logo > p, .graphics-logo > p, .blogging-logo > p{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.web-icons > div ,.graphics-icons > div{
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    border: 1px solid #673de6;
    border-radius: 0.7rem;
}
.web-icons, .graphics-icons{
    display: grid;
    padding: 0 2rem;
    grid-template-columns: repeat(3,3fr);
    gap:1rem;
    place-items: center;
    margin-top: 1rem;
}
#photoshop, #illustrator, #canva, #tailwind{
    object-fit: cover;
    height: 2rem;
    width: 2rem;
}
#skill{
    font-size: 1.7rem;
}
.blogging >p{
    margin-top: 1rem;
}
/*media-queryfor-skills-section*/
@media (max-width:1185px) {
    .skills3{
        gap:2rem;
    }
}
@media (max-width:1000px) {
    .skills3{
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }
}
@media (max-width:670px) {
    .skills3{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width:320px){
    .skills{
        width: 18rem;
    }
}
@media (max-width:300px) {
    .skills{
        width:17rem;
    }
}
/*contact-section*/
.contact{
    height: 100vh;
    width: 100%;
    transition: 1.5s;
    background-color: var(--bg-contact);
    color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container{
    display: flex;
    gap:20rem;
}
form{
    display: grid;
    place-items: center;
    padding: 1rem;
}
input, textarea, label{
    display: block;
    color: var(--bg-primary);
    transition: 1.5s;
    width: 20rem;
}
label{
    margin-top: 0.5rem;
    font-weight: bold;
}
input, textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--bg-primary);
    transition: 1.5s;
    outline: none;
    padding: 0.5rem 0.2rem;
    font-size: 1rem;
}
input:focus, textarea:focus{
    border-bottom: 2px solid #673de6;
    transition: 0.5s;
}
textarea{
    resize: none;
}
textarea::-webkit-scrollbar{
    display: none;
}
.submit{
    border: 0;
}
.submit:hover{
    background-color: var(--bg-contact);
}
.contact-container-social{
    margin-top: 5rem;
}
.contact-container-social > .contact-name{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.contact-container-social > .contact-text{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.fa-envelope , .fa-location-dot{
    margin-right: 0.3rem;
}
.location, .email{
    text-decoration: underline;
}
.social-media{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0;
}
.contact-socials{
    display: flex;
    gap:3rem;
    font-size: 1.7rem;
}
#contact-twitter{
    color: #1d9bf0;
}
#contact-github{
    color:#171515;
}
#contact-facebook{
    color: #0f92f3;
}
#contact-instagram{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer{
    text-align: center;
    bottom: 0;
    transition: 1.5s;
    background-color: var(--bg-footer);
    color: var(--bg-text-footer);
    width: 100%;
}
/*contact-section*/
@media (max-width:1050px) {
    .contact-container{
        gap:10rem;
    }
}
@media (max-width:1000px) {
    .contact-container{
        display: grid;
        gap:2rem;
    }
    .contact{
        margin-top: 15rem;
    }
    .contact-socials{
        justify-content: center;
    }
    .contact-container-social{
        text-align: center;
    }
}
@media (max-width:470px) {
    .contact{
        margin-top: 20rem;
    }
    #contact-image{
        width: 18rem;
        height: 12rem;
    }
    .contact-container-image{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:340px) {
    input, textarea, label{
        width: 100%;
    }
}
/*page-section*/
.page{
    display: none;
}
.page.active{
    display: block;
}
/*project-section*/
.project{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--bg-primary);
}
.project > p{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}