.project{
    height: 100vh;
    padding-top: 4rem;
    width: 100%;
    background-color: var(--main-bg);
    color: var(--text-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.project-list{
    max-width: 52rem;
    padding: 1rem;
}
.link-project{
    color: var(--purple-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.project-one > p{
    margin-bottom: 1rem;
}
.project-one{
    border-bottom: 1px dashed var(--text-color);
    margin-bottom: 2rem;
}
/*techmart todo*/
.techmart, .todo{
    padding-top: 4rem;
    width: 100%;
    background-color: var(--main-bg);
    color: var(--text-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.project-info{
    max-width: 52rem;
    padding: 1rem;
}

.project-header{
    color: var(--purple-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.project-info > p{
    margin-bottom: 1rem;
}
.project-img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.github-link{
    font-size: 1.1rem;
    color: var(--text-color);
}

